#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
    #{script 'jquery.lazyload.mini.js'/}
#{/set}

<div id="items">
    <div id="content">
        <div id="mask"></div>
		<div id="photo"><img></div>
        <table>
            <thead>
                <tr>
                    <th width="90px">id</th>
                    <th>Photo title</th>
                </tr>
            </thead>
            <tbody>
                #{list photos, as:'photo'}
                   <tr>
                       <td><a class="photo" href="${photo.src('m')}">${photo.id}</a></td>
                       <td>${photo.title}</td>
                   </tr>
                #{/list}
            </tbody>
            <tfoot id="pagination">
                <tr>
                    <td colspan="2">
                        <span class="nav">
	                        <ul>
	                        	#{list pages, as:'p'}
	                        		<li class="${(p == currentPage) ? 'selected': ''}"><a class="page" href="@{index(p)}">${p}</a></li>
	                        	#{/list}
	                        	<li>of</li>
	                        	<li>${max}</li>
					        </ul>
						</span>
                    </td>
                </tr>
                <tr>
                	<td colspan="2">
                		<div id="miniatures">
                			#{list photos, as:'photo'}
                				<a class="photo" href="${photo.src('m')}">
                					<img class="lazy" src="${photo.src('s')}" dd="/public/images/grey.gif">
                				</a>
                			#{/list}
                		</div>
                	</td>
                </tr>
            </tfoot>
        </table>
    </div>    
</div>

<script type="text/javascript" charset="utf-8">
	function lazyLoad() {
   	   	$("img.lazy").lazyload({
   	        placeholder : "/public/images/grey.gif",
   	        effect: "fadeIn",
   	        container: "#miniatures"
   	    });
   	}
    
	function loadImage(src) {
        var img = new Image();
        $(img).load(function() {
        	$(this).hide();
            $('#photo').append($(img));
           	$(this).fadeIn(500);
        })
        $(img).attr('src', src);
	}

	lazyLoad();
    loadImage($('a.photo').first().attr('href'));
	
	$('a.page').live('click', function(e) {
        e.preventDefault()
        var href = $(this).attr('href')
        $('#items').addClass('loading').load(href + ' #content', function() {
            $('#items').removeClass('loading')
            loadImage($('a.photo').first().attr('href'));
        	lazyLoad();
        })
    })
    
    
    $('a.photo').live('click', function(e) {
        e.preventDefault()
        $('#photo > img').stop(true, true);
        $('#photo > img').fadeOut(function() {
        	$(this).remove();
        });
        var href = $(this).attr('href')
		loadImage(href);
    })
</script>